@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: rgb(63, 63, 63);
  background-color: rgb(248, 249, 250);
}

.container {
  max-width: 100%;
  width: 100%;
  padding: 50px 30px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  color: #6a6a6a;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 22px;
}

a,
button {
  transition: all 0.3s;
  text-decoration: none;
}

p {
  line-height: 1.5;
  font-size: 18px;
}

section {
  padding: 30px 0;
}
section .section-header {
  margin-bottom: 40px;
}
section .section-header h2 {
  font-size: 24px;
}
section .section-header .offers-hr {
  display: block;
  width: 40%;
  height: 3px;
  color: rgb(36, 164, 197);
  opacity: 1;
}
@media all and (min-width: 992px) {
  section .section-header h2 {
    font-size: 30px;
  }
}
@media all and (min-width: 1200px) {
  section .section-header h2 {
    font-size: 32px;
  }
}

.container {
  max-width: 100%;
  width: 100%;
  padding: 0 23px;
  margin: 0 auto;
}

@media all and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.navbar {
  padding: 20px 0;
  width: 100%;
  background-color: #fff;
}
.navbar .container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar .container-fluid .brand {
  display: inline-block;
}
.navbar .container-fluid .brand img {
  height: 50px;
}
@media all and (min-width: 480px) {
  .navbar .container-fluid .brand img {
    height: 70px;
  }
}
.navbar .container-fluid .navbar-toggler {
  border: 1px solid rgb(36, 164, 197);
  border-radius: 0;
}
.navbar .container-fluid .navbar-toggler:focus {
  box-shadow: none;
  background-color: #ddd;
}
.navbar .container-fluid .navbar-toggler i {
  color: rgb(36, 164, 197);
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  text-align: center;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: rgb(106, 106, 106);
  transition: all 0.3s;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: rgb(36, 164, 197);
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .active {
  color: rgb(36, 164, 197);
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  border-radius: 0;
  background-color: #6a6a6a;
  text-align: center;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #fff;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: rgb(36, 164, 197);
}

@media all and (min-width: 768px) {
  .navbar .container-fluid {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .navbar .container-fluid .brand img {
    height: 100%;
  }
  .navbar .container-fluid .navbar-collapse {
    flex-grow: 0;
  }
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:not(:last-of-type)::after {
    content: "|";
    display: inline-block;
    color: rgb(106, 106, 106);
    margin-right: 2px;
    margin-left: 2px;
  }
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 0 15px;
    font-size: 15px;
  }
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    text-align: start;
  }
}
@media all and (min-width: 992px) {
  .navbar .container-fluid {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 50px;
  }
}
@media all and (min-width: 1200px) {
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 20px;
  }
}
.header {
  margin-bottom: 20px;
  width: 100%;
}
.header .carousel .carousel-inner .carousel-item .d-block {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .carousel .carousel-inner .angles-down {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.header .carousel .carousel-inner .angles-down i {
  color: #fff;
  font-size: 26px;
  transition: all 0.3s;
}
.header .carousel .carousel-inner .angles-down i:hover {
  color: rgb(36, 164, 197);
}
@media all and (min-width: 768px) {
  .header .carousel .carousel-inner .carousel-item .d-block {
    height: 550px;
  }
  .header .carousel .carousel-inner .angles-down {
    display: block;
  }
}
@media all and (min-width: 1600px) {
  .header .carousel .carousel-inner .carousel-item .d-block {
    height: 650px;
  }
}

.common-header .header-image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.common-header .header-image .breadcrumb-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 25px;
  background-color: rgba(61, 61, 61, 0.8);
}
.common-header .header-image .breadcrumb-container .breadcrumb {
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.common-header .header-image .breadcrumb-container .breadcrumb .available-link a {
  color: rgb(38, 211, 255);
}
.common-header .header-image .breadcrumb-container .breadcrumb .available-link a:hover {
  text-decoration: underline;
}
.common-header .header-image .breadcrumb-container .breadcrumb .active, .common-header .header-image .breadcrumb-container .breadcrumb .breadcrumb-item::before {
  color: #fff;
}
@media all and (min-width: 768px) {
  .common-header .header-image .breadcrumb-container {
    padding-left: 100px;
    padding-right: 50px;
  }
  .common-header .header-image .breadcrumb-container .breadcrumb {
    font-size: 22px;
  }
}
@media all and (min-width: 1200px) {
  .common-header .header-image .breadcrumb-container {
    padding-left: 200px;
  }
}

.about {
  text-align: center;
}
.about .container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  max-width: 95%;
  box-shadow: 0 5px 20px #f0f0f0;
  background-color: #fff;
}
.about .container .about-header {
  max-width: 95%;
  text-align: start;
}
.about .container .about-header img {
  max-width: 200px;
}
.about .container .about-header h2 {
  font-size: 20px;
}
.about .container .about-header .offers-hr {
  display: block;
  width: 40%;
  height: 3px;
  color: rgb(36, 164, 197);
  opacity: 1;
}
.about .container .about-header .about-content {
  margin: 0 auto 26px auto;
  font-weight: 300;
  max-width: 850px;
}
.about .container .container-image {
  display: none;
}
@media all and (min-width: 992px) {
  .about .container .about-header h2 {
    font-size: 26px;
  }
}
@media all and (min-width: 1200px) {
  .about .container .about-header {
    max-width: 50%;
  }
  .about .container .container-image {
    display: inline-block;
    max-height: 350px;
    max-width: 50%;
  }
}

.offers .container {
  max-width: 95%;
}
.offers .container .offers-container {
  margin: 40px 0;
  background-color: #fff;
  box-shadow: 0 5px 20px #f0f0f0;
}
.offers .container .offers-container .offers-image a img {
  height: auto;
  width: 100%;
}
.offers .container .offers-container .offers-item {
  padding: 20px 50px;
}
.offers .container .offers-container .offers-item .offers-hr {
  display: block;
  width: 40%;
  height: 3px;
  color: rgb(36, 164, 197);
  opacity: 1;
}

@media all and (min-width: 992px) {
  .offers .container .offers-container {
    position: relative;
    background-color: transparent;
    box-shadow: none;
  }
  .offers .container .offers-container .offers-image a img {
    height: 500px;
    width: auto;
  }
  .offers .container .offers-container .offers-item {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 50%;
    background-color: #fff;
    box-shadow: 0 5px 20px #f0f0f0;
  }
  .offers .container .offers-container:nth-of-type(even) .offers-image {
    text-align: end;
  }
  .offers .container .offers-container:nth-of-type(even) .offers-item {
    left: 0;
  }
}
@media all and (min-width: 1200px) {
  .offers .container .offers-container {
    margin: 25px auto;
    max-width: 80%;
  }
}
.services .container .text-offer h2 {
  font-size: 24px;
}
.services .container .text-offer .offers-hr {
  display: block;
  width: 40%;
  height: 3px;
  color: rgb(36, 164, 197);
  opacity: 1;
}
.services .container .text-offer p {
  font-size: 16px;
}
.services .container .text-offer .offers-list {
  list-style-type: square;
  color: rgb(36, 164, 197);
}
.services .container .text-offer .offers-list .offer-item a {
  color: rgb(63, 63, 63);
}
.services .container .text-offer .offers-list .offer-item a:hover {
  color: rgb(36, 164, 197);
}
.services .container .row {
  flex-direction: column;
  --bs-gutter-x: 0;
}
.services .container .row .service {
  position: relative;
  margin: 10px 0;
  height: 340px;
  width: 100%;
}
.services .container .row .service img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.services .container .row .service .service-overlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(36, 164, 197, 0.8);
  opacity: 0;
  transition: all 0.3s;
}
.services .container .row .service .service-overlay:hover {
  opacity: 1;
}
.services .container .row .service .service-overlay img {
  width: 60px;
  height: auto;
}
.services .container .row .service .service-overlay h3 {
  color: #fff;
}
@media all and (min-width: 768px) {
  .services .container .text-offer h2 {
    font-size: 30px;
  }
  .services .container .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .services .container .row .service {
    max-width: 48%;
    flex-basis: 48%;
  }
}
@media all and (min-width: 1200px) {
  .services .container {
    max-width: 85%;
  }
  .services .container .text-offer h2 {
    font-size: 32px;
  }
  .services .container .text-offer p, .services .container .text-offer .offers-list a {
    font-size: 18px;
  }
  .services .container .row .service {
    max-width: 32%;
    flex-basis: 32%;
  }
}

.about-us .container .text-offer .container-image {
  max-width: 100%;
}
.about-us .container .text-offer .container-image img {
  width: 100%;
}
@media all and (min-width: 992px) {
  .about-us .container {
    padding: 0;
    max-width: 100%;
    justify-content: space-between;
  }
  .about-us .container .text-offer {
    margin: 0 50px;
  }
  .about-us .container .text-offer .info-container {
    max-width: 54%;
  }
  .about-us .container .text-offer .container-image {
    max-width: 44%;
  }
}

.contact {
  padding: 0 20px;
}
.contact .container .row {
  flex-direction: column;
}
.contact .container .row .contact-data {
  margin-bottom: 30px;
}
.contact .container .row .contact-data .contact-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact .container .row .contact-data .contact-item .img-holder {
  margin-right: 10px;
  width: 15%;
  color: rgb(36, 164, 197);
}
.contact .container .row .contact-data .contact-item .img-holder i {
  font-size: 25px;
}
.contact .container .row .contact-data .contact-item .col h3 {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}
.contact .container .row .contact-data .contact-item .col p {
  font-size: 16px;
}
.contact .container .row .contact-form {
  padding: 25px 0;
}
.contact .container .row .btn-container {
  text-align: center;
}
@media all and (min-width: 992px) {
  .contact .container .row {
    flex-direction: row;
  }
  .contact .container .row .contact-data,
  .contact .container .row .contact-form {
    max-width: 50%;
    flex-basis: 50%;
  }
}
.contact a {
  color: rgb(36, 164, 197);
}
.contact a:hover {
  text-decoration: underline;
}

.page-footer {
  text-align: center;
}
.page-footer .footer-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px;
  background-color: #fff;
}
.page-footer .footer-top .footer-nav .nav-link {
  padding: 0.2rem 1rem;
  color: rgb(106, 106, 106);
  transition: all 0.3s;
}
.page-footer .footer-top .footer-nav .nav-link:hover {
  color: rgb(36, 164, 197);
}
.page-footer .footer-top .footer-nav .active {
  color: rgb(36, 164, 197);
}
.page-footer .footer-top .text-container {
  padding: 10px 0;
}
.page-footer .footer-top .text-container p {
  margin: 0;
}
.page-footer .footer-top .logo-footer img {
  width: 200px;
}
.page-footer .footer-bottom {
  padding: 20px 0;
  background-color: #000;
  color: rgb(248, 249, 250);
}
.page-footer .footer-font-size {
  font-size: 13px;
}
.page-footer .link-footer {
  margin: 0 5px;
  color: rgb(36, 164, 197);
}
.page-footer .link-footer:hover {
  text-decoration: underline;
}
@media all and (min-width: 768px) {
  .page-footer .footer-top {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: start;
  }
}
@media all and (min-width: 992px) {
  .page-footer .footer-top {
    padding: 10px;
  }
  .page-footer .footer-top .logo-footer img {
    width: 300px;
  }
  .page-footer .footer-bottom {
    padding: 10px 0;
  }
  .page-footer .footer-font-size {
    font-size: 16px;
  }
}

.btn-secondary, .btn-primary {
  display: inline-block;
  padding: 15px 35px;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
}

.btn-primary {
  border-bottom: 1px solid rgb(36, 164, 197);
  color: rgb(36, 164, 197);
  background-color: transparent;
  transition: all 0.4s;
}
.btn-primary:hover {
  background-color: rgb(36, 164, 197);
  border-bottom: 1px solid transparent;
}

.btn-secondary {
  border: 1px solid transparent;
  color: rgb(248, 249, 250);
  background-color: rgb(36, 164, 197);
}
.btn-secondary:hover {
  border: 1px solid rgb(36, 164, 197);
  color: rgb(36, 164, 197);
  background-color: rgb(248, 249, 250);
}

.infobox-team, .infobox {
  padding: 0 10px;
  margin-top: 30px;
  text-align: center;
}

.infobox .infobox-inner {
  padding: 25px;
  border-radius: 2px;
  border: 1px solid #e2e5ea;
}
.infobox .infobox-inner:hover {
  box-shadow: 0 5px 20px #f0f0f0;
}
.infobox .infobox-inner .meta {
  margin-top: 25px;
  font-size: 12px;
  text-transform: uppercase;
}
.infobox .infobox-inner .meta .category {
  margin-right: 5px;
  color: inherit;
}
.infobox .infobox-inner .meta .post-date {
  margin-left: 5px;
  color: inherit;
}
.infobox .infobox-inner img {
  width: 100%;
}
.infobox .infobox-inner p {
  font-weight: 300;
  margin-bottom: 30px;
}

.infobox-team {
  margin-top: 60px;
  position: relative;
}
.infobox-team img {
  width: 100%;
}
.infobox-team .infobox-team-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  margin: auto;
  width: 80%;
  background-color: #fff;
  transition: all 0.3s;
}
.infobox-team .infobox-team-caption:hover {
  padding-bottom: 30px;
  box-shadow: 0 5px 20px #f0f0f0;
}
.infobox-team .infobox-team-caption:hover .team-social-icons {
  height: 35px;
}
.infobox-team .infobox-team-caption .team-social-icons {
  height: 0;
  transition: all 0.3s;
  overflow: hidden;
}
.infobox-team .infobox-team-caption .team-social-icons a {
  display: inline-block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #6a6a6a;
  border-radius: 50%;
  color: #6a6a6a;
}
.infobox-team .infobox-team-caption .team-social-icons a:hover {
  border: 1px solid rgb(248, 249, 250);
  background-color: rgb(248, 249, 250);
  color: #fff;
}

.form-control {
  display: inline-block;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgb(36, 164, 197);
  border-radius: 0;
  color: rgb(36, 164, 197);
  background-color: rgb(248, 249, 250);
}
.form-control:focus-visible {
  border-color: rgb(36, 164, 197);
}
.form-control::-webkit-input-placeholder {
  color: rgb(36, 164, 197);
}
.form-control::-moz-placeholder {
  color: rgb(36, 164, 197);
}
.form-control:-ms-input-placeholder {
  color: rgb(36, 164, 197);
}
.form-control:-moz-placeholder {
  color: rgb(36, 164, 197);
}

.form-control.is-valid,
.was-validated .form-control:valid,
.was-validated .form-control:valid:focus {
  border-color: rgb(36, 164, 197);
}

.was-validated .form-control:valid:focus,
.was-validated .form-check.form-check-input:focus:checked {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
  background-color: rgb(36, 164, 197);
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-invalid ~ .form-check-label,
.was-validated .form-check-input:invalid ~ .form-check-label {
  color: rgb(63, 63, 63);
}

textarea {
  height: 100px;
}

.form-check .form-check-input:checked {
  background-color: rgb(36, 164, 197);
  border-color: rgb(36, 164, 197);
}
.form-check .form-check-input:checked:focus-visible {
  border-color: rgb(36, 164, 197);
}
.form-check .form-check-label {
  font-size: 11px;
}/*# sourceMappingURL=style.css.map */