.about {
    text-align: center;

    .about-header {

        img {
            max-width: 100px;
        }
        
        .about-header-description {
            margin-bottom: 0;
            color: $secondary-color;
            text-transform: uppercase;
            letter-spacing: 2px ;
        }
    }

    .about-content {
        margin: 0 auto 26px auto;
        font-weight: 300;
        max-width: 850px;
    }
}