.contact {
    .container {
        .row {
            flex-direction: column;

            .contact-data {
                margin-bottom: 30px;
        
                .contact-item {
                    @include flexbox;
                    @include flex-align(center, center);
                    
                    .img-holder {
                        margin-right: 10px;
                        width: 15%;
                        color: $button-color;
        
                        i {
                            font-size: 25px;
                        }
                    }
                    .col {
                        h3 {
                            color: #000;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                        p {
                            font-size: $baseline;
                        }
                    }
                }
            }
            .contact-form {
                padding: 25px 0;
                form.row {
                    align-items: center;
                    .btn-container {
                        text-align: center;
                    }
                }
            }
            
            @media all and (min-width: $large) {
                flex-direction: row;
                .contact-data, 
                .contact-form {
                    max-width: 50%;
                    flex-basis: 50%;
                }
            }
        }
    }
    a {
        color: $button-color;
        &:hover {
            text-decoration: underline;
        }
    }
}