.page-footer {
  text-align: center;
  .footer-top {
    @include flexbox;
    flex-direction: column;
    padding: 30px;
    background-color: #fff;
    .footer-nav {
      .nav-link {
        padding: 0.2rem 1rem;
        color: $secondary-text-color;
        transition: all 0.3s;

        &:hover {
          color: $button-color;
        }
      }
      .active {
        color: $button-color;
        font-weight: bold;
      }
    }
    .text-container {
      padding: 10px 0;
      p {
        margin: 0;
      }
    }
    .logo-footer {
      img {
        width: 200px;
      }
    }
  }

  .footer-bottom {
    padding: 20px 0;
    background-color: #000;
    color: $primary-color;
  }

  .footer-font-size {
    font-size: $baseline;
  }

  .link-footer {
    margin: 0 5px;
    color: $button-color;
    &:hover {
      text-decoration: underline;
    }
  }

  @media all and (min-width: $medium) {
    .footer-top {
      flex-direction: row;
      @include flex-align(space-around, center);
      text-align: start;
    }
  }
  @media all and (min-width: $large) {
    .footer-top {
      padding: 10px;
      .logo-footer {
        img {
          width: 300px;
        }
      }
    }
    .footer-bottom {
      padding: 10px 0;
    }
    .footer-font-size {
      font-size: $baseline + 2px;
    }
  }
}
