.header {
    margin-bottom: 20px;
    width: 100%;

    .carousel {
        .carousel-inner {
            .carousel-item {
                .d-block {
                    height: 400px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .angles-down {
                display: none;
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
                i {
                    padding: 10px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    font-size: $baseline + 10px;
                    color: #fff;
                    transition: all .3s;
                    &:hover {
                        border-color: $button-color;
                        color: $button-color;
                    }
                }
            }
        }
    }

    @media all and (min-width: $medium) {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .d-block {
                        height: 550px;
                    }
                }
                .angles-down {
                    display: block;
                }
            }
        }
    }
    
    @media all and (min-width: 1600px) {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .d-block {
                        height: 650px;
                    }
                }
            }
        }
    }
}

.common-header {
    .header-image {
        position: relative;
        background-position-y: center;
        background-position-x: right;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        .breadcrumb-container {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 20px 25px;
            background-color: rgba(61,61,61,.8);
            .breadcrumb {
                margin-bottom: 0;
                font-size: $baseline + 2px;
                letter-spacing: .5px;
                .available-link a {
                    color: rgba(38,211,255,1);
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .active, .breadcrumb-item::before {
                    color: #fff;
                }
            }
            @media all and (min-width: $medium) {
                padding-left: 100px;
                padding-right: 50px;
                .breadcrumb {
                    font-size: $baseline + 6px;
                }
            }
            
            @media all and (min-width: $extra-large) {
                padding-left: 200px;
            }
        }
        
    }
}