.header {
    margin: 20px 0;
    width: 100%;

    .carousel {
        .carousel-inner {
            .carousel-item {
                .d-block {
                    height: 400px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .angles-down {
                display: none;
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
                i {
                    color: #fff;
                    font-size: $baseline + 10px;
                    transition: all .3s;
                    
                    &:hover {
                        color: $button-color;
                    }
                }
            }
        }
    }

    @media all and (min-width: $medium) {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .d-block {
                        height: 600px;
                    }
                }
                .angles-down {
                    display: block;
                }
            }
        }
    }
    
    @media all and (min-width: $extra-large) {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .d-block {
                        height: 700px;
                    }
                }
            }
        }
    }
}