.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #fff;

    .main-nav-holder {
        @include flexbox;
        justify-content: space-between;

        .brand {
            display: inline-block;
            height: 50px;
    
            img {
                height: 100%;
            }
        }

        %mobile-controls {
            font-size: 28px;
            line-height: 50px;
            cursor: pointer;
        }

        .mobile-hamburger {
            @extend %mobile-controls;
            color: $primary-color;
        }
    
        .open-menu-holder {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            padding: 12px 23px;
            max-width: 480px;
            width: 480px;
            background-color: $primary-color;
            text-align: right;

            &.open {
                display: block;
            }

            .mobile-close {
                @extend %mobile-controls;
                color: #fff;
                text-align: right;
                height: 50px;
            }

            .menu {
                list-style: none;

                .menu-item {
                    padding: 20px 0;
                    text-transform: uppercase;
                    font-size: 50px;

                    a {
                        color: #fff;
                    }
                }
            }
        }
    }

    @media all and (min-width: $large) {

        %mobile-controls {
            display: none;

        }

        .main-nav-holder {

            justify-content: flex-start;

            .brand {
                padding-top: 10px;
                height: 75px;
            }

            .open-menu-holder {
                display: block;
                position: static;
                padding: 0;
                background-color: transparent;
                width: auto;
                max-width: 100%;
                align-self: flex-start;
                
                .menu {
                    @include menu-list;
                }
            }
        }
    }
}