strong, a {
    color: $button-color;
}

ol.upper-roman {
    list-style-type: upper-roman;
    li, p {
        padding: 5px 0;
    }
}

ol.lower-latin {
    list-style-type: lower-latin;
}

ul {
    list-style: circle;
}