%btn {
    display: inline-block;
    padding: 15px 35px;
    border: 0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn-primary {
    @extend %btn;
    border-bottom: 1px solid $button-color;
    color: $button-color;
    background-color: transparent;
    transition: all .4s;

    &:hover {
        background-color: $button-color;
        border-bottom: 1px solid transparent;
    }
}

.btn-secondary {
    @extend %btn;
    border: 1px solid transparent;
    color: $primary-color;
    background-color: $button-color;

    &:hover {
        border: 1px solid $button-color;
        color: $button-color;
        background-color: $primary-color;
    }
}
.buttons-panel {
    text-align: center;
}

.btn-panel {
    @extend %btn;
    border: 1px solid transparent;
    color: $button-color;
    background-color: $primary-color;

    &:hover {
        color: $primary-color;
        background-color: $button-color;
    }
}